<div class="row">
  <div class="col-6">
    <app-liste (listeEvent)="recupererCandidatClicke($event)"></app-liste>
  </div>
  <div class="col-6">
    @if (selectedCandidat) {
    <app-details [selCandidat]="selectedCandidat"></app-details>

    } @else {
    <h5>veuillez sélectionner un candidat...</h5>
    }
  </div>
</div>

<app-recrues></app-recrues>

<!-- <button (click)="addNewCandidate()" class="btn btn-primary">
  Add Candidate
</button>
<button (click)="showCandidates()" class="btn btn-info">
  show Candidates from CV
</button> -->
